<div id="modal-mrmay" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <h2>Mr. May</h2>
    <img src="/assets/images/catmath.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
  </div>
</div>

<div id="modal-backpacking" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <h2>Lost coast!</h2>
    <img src="/assets/images/backpack.jpeg" alt="Image" style="max-width:100%; border-radius: 12px;">
  </div>
</div>

<div id="modal-sammy" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/sammy.png" alt="Image" style="max-width:100%; border-radius: 12px;">
  </div>
</div>
