<div id="modal-mrmay" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/catcollage.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
  </div>
</div>

<div id="modal-backpacking" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/backpack.jpeg" alt="Image" style="max-width:100%; border-radius: 12px;">
    <p style="text-align:center;">Lost Coast Trail, Sinkyone Wilderness (2021)</p>
    <img src="/assets/images/lassen_np_2023.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
    <p style="text-align:center;">Lassen Volcanic National Park (2023)</p>
    <img src="/assets/images/bool_pool.jpeg" alt="Image" style="max-width:100%; border-radius: 12px;">
    <p style="text-align:center;">Bool Pool, Tahoe National Forest (2024)</p>
    <img src="/assets/images/sequoia_np_2025.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
    <p style="text-align:center;">High Sierra Trail, Sequoia National Park (2025)</p>
  </div>
</div>

<div id="modal-sammy" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/sammy.png" alt="Image" style="max-width:100%; border-radius: 12px;">
  </div>
</div>

<div id="modal-harry" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/harry.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
     <p style="text-align:center;">You're a lizard Harry!</p>
  </div>
</div>

<div id="modal-dirtbike" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close">&times;</span>
    <img src="/assets/images/dirtbike.jpg" alt="Image" style="max-width:100%; border-radius: 12px;">
    <p style="text-align:center;">Disclaimer: not a dirt bike, but you get the idea</p>
  </div>
</div>
